{% extends 'base.html.twig' %}

{% block title %}Nooblog|Page d'accueil{% endblock %}

{% block body %}
<article>
<h1>Bienvenue à Nooblog!</h1>
<img src="{{ 'images/home/people.jpg' }}" class="img-fluid" alt="gens femme solioque mirois">
<p>He'll want to use your yacht, and I don't want this thing smelling like fish.

Bad news. Andy Griffith turned us down. He didn't like his trailer. It's called 'taking advantage.' It's what gets you ahead in life. Whoa, this guy's straight? I'm afraid I just blue myself. Now, when you do this without getting punched in the chest, you'll have more fun.

I'm afraid I just blue myself. We just call it a sausage. I've opened a door here that I regret. Not tricks, Michael, illusions. Marry me. What's Spanish for "I know you speak English?
First place chick is hot, but has an attitude, doesn't date magicians.

That's what it said on 'Ask Jeeves.' Not tricks, Michael, illusions. Marry me. There's only one man I've ever called a coward, and that's Brian Doyle Murray. No, what I'm calling you is a television actor.

    No! I was ashamed to be SEEN with you. I like being with you.
    There's so many poorly chosen words in that sentence.
    Across from where?

He'll want to use your yacht, and I don't want this thing smelling like fish.

That's why you always leave a note! Guy's a pro. That's what it said on 'Ask Jeeves.' That's what it said on 'Ask Jeeves.' I've opened a door here that I regret.

    There's so many poorly chosen words in that sentence.
    It's called 'taking advantage.' It's what gets you ahead in life.
    Whoa, this guy's straight?</p>
</article>

{% endblock %}
