{% extends 'base.html.twig' %}

{% block title %}Nooblog|Articles d'une Catégorie
{% endblock %}

{% block body %}
	<h1>Articles</h1>
	<div class="list-group">
		{% for post in posts %}
			<a href="{{path('app_post_show',{id:post.id})}}" class="list-group-item list-group-item-action">{{post.title}}</a>
		{% endfor %}
	</div>
{% endblock %}
